		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="../index.html" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="../charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
						<li><a href="../page-profile.html" class=""><i class="lnr lnr-file-empty"></i> <span>Profile</span></a></li>
						<li><a href="../login.html" class=""><i class="lnr lnr-file-empty"></i> <span>Login</span></a></li>
						<li><a href="../tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
					</ul>
				</nav>
			</div>
		</div>